.mainmenu{
       position: fixed;
       background-color: rgb(255, 140, 0);
       margin-top: 0%;    
       font-size: large;
       width: 100%;
       padding: 0%;
       color: white;
       /* scroll-behavior: smooth; */
       align-items: center;
}
ul{
    display: flex;
    /* border: 1px solid white; */
    width: 100%;
    list-style-type:none;
}
.homee{
    padding-right: 40%;
}
.skillss,.projectss,.contactt,.aboutmee{
    padding-left: 6%;

}