/* Main Menu Styles */
.mainmenu {
    position: fixed;
    background-color: rgb(255, 140, 0);
    margin-top: 0;
   
    font-size: large;
    width: 100%;
    padding: 0;
    color: white;
    align-items: center;
    z-index: 1000;
}

ul {
    display: flex;
    width: 100%;
    list-style-type: none;
    padding: 0.5%;
    
    /* justify-content: space-around; */
}

.homee {
    padding-right: 35%;
}

.skillss, .projectss, .education,.contactt, .aboutmee {
    padding-left: 6%;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .mainmenu {
        font-size: medium;
        padding: 0 10px;
    }

    ul {
        flex-direction: column; /* Stack the menu items vertically */
        text-align: center;
    }

    .homee, .skillss,.education, .projectss, .contactt, .aboutmee {
        padding: 5px ;
       
    }

    .mainmenu {
        background-color: rgb(255, 140, 0);
        width: 100%;
    }
}

/* General Body and App Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
}

:root {
    background-color: black;
    color: white;
}

.app {
    margin-top: 0;
}


