

.displayitem {
    display: flex;
    align-items: center;
    justify-content: center; /* Centers the content horizontally */
    font-size: 170%;
    color: antiquewhite;
    padding-top: 100px; /* Adjust this value based on your menu height */
}

img {
    margin-left: 20%; /* Use margin for better control */
    max-width: 100%; /* Ensure image is responsive */
    height: auto;
}
