body{
    margin: 0;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;}


.app{
    
    margin-top: -1%;
   
}
#education{
    padding-top: 3%;
}
#home{
    padding-top: 5%;
}
#project{
    padding-top: 3%;
}
.main-menu{
    margin-top: -1%;
}